body {
  background-color: khaki;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}

h2 {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

h2.first {
  background-color: aquamarine;
}

h2.second {
  background-color: cadetblue;
}

h2.third {
  background-color: azure;
}

h2.forth {
  background-color: violet;
}

.link {
  text-decoration: none;
  color: #222;
  font-size: 48px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.first .initial-text {
  display: block;
  transition: transform 0.5s ease-in;
}

.first .link::after {
  content: attr(data-swipe-text);
  display: block;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100%;
  transition: bottom 0.5s ease-in;
}

.first .link:hover .initial-text {
  transform: translateY(-100%);
}

.first .link:hover::after {
  bottom: 0;
}

.second .initial-text {
  display: block;
  transition: transform 0.5s ease-in;
}
.second .link::after {
  content: attr(data-swipe-text);
  display: block;
  position: absolute;
  bottom: 0;
  left: -100%;
  right: 0;
  width: 100%;
  transition: left 0.5s ease-in;
}

.second .link:hover .initial-text {
  transform: translateX(100%);
}

.second .link:hover::after {
  left: 0;
}
