* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  height: 100dvh;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
}

.side-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow-y: auto;
  scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
  padding: 8px;
}

.nav-item {
  height: 50px;
}
.group-item {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 12px;
}

.group-item span {
  margin-left: 10px;
}

.nav-item:hover .group-item {
  background-color: #181818;
  border-radius: 35px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.nav-item:first-child .group-item img {
  width: 26px;
  height: 26px;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
}

.submit-btn button {
  border: 0;
  border-radius: 35px;
  width: 230px;
  height: 50px;
  font-weight: 700;
}

.submit-btn:hover button {
  cursor: pointer;
  background-color: #d7dbdc;
  transition: background-color 0.2s;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 260px;
  padding: 12px;
  flex-grow: 1;
}

.profile-content {
  border-radius: 50px;
  padding: 12px;
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.profile-content img {
  border-radius: 50%s;
  width: 40px;
  height: 40px;
}

.profile-name {
  flex: 2;
  margin-left: 2px;
}

.profile-user-name {
  font-weight: 600;
}

.profile-account {
  color: #71767b;
  font-size: 13px;
  font-weight: 200;
}

.profile-content:hover {
  background-color: #181818;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.content {
  flex: 1;

  border-right: 1px solid #2f3336;
  border-left: 1px solid #2f3336;
}

.page-title {
  display: flex;
  border-bottom: 1px solid #2f3336;
}

.page {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  flex: 1;
  color: white;
}

.for-you span {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.for-you span::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3.5px;
  background-color: #1d9bf0;
  border-radius: 3.5px;
}

.following {
  color: #71767b;
}
.search-box {
  flex: 1;
}
